################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/XISHANLZ/.vs/XISHANLZ
/XISHANLZ/bin/Debug/netcoreapp3.0
/XISHANLZ/obj
/LZ.Service/obj
/LZ.Model/bin/Debug/netcoreapp3.0
/LZ.Model/obj
/common.Interface/obj
/common.Core/bin/Debug/netcoreapp3.0
/common.Core/obj
/commom.Tool/obj
/LZ.IService/obj
/commom.Tool/bin/Debug/netcoreapp3.0
/common.Interface/bin/Debug/netcoreapp3.0
/LZ.IService/bin/Debug/netcoreapp3.0
/LZ.Service/bin/Debug/netcoreapp3.0
/LZ.IRepository/obj
/LZ.IRepository/bin/Debug/netcoreapp3.0
/LZ.Repository/obj
/LZ.Repository/bin
/LZ.Repository/bin/Debug/netcoreapp3.0
/XISHANLZ/logs/error
/XISHANLZ/logs
/XISHANLZ/logs/info


/LZ.Service/bin/Release/netcoreapp3.0
/LZ.Model/bin/Release/netcoreapp3.0
/LZ.IService/bin/Release/netcoreapp3.0
/LZ.IRepository/bin/Release/netcoreapp3.0
/commom.Tool/bin/Release/netcoreapp3.0
/XISHANLZ/bin/Release/netcoreapp3.0
