
@{
    Layout = null;
}
@model LZ.Model.Models.User
@using common.Tools.Helper;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
    <div>
        <h2>用户数据展示</h2>
        <label>用户名</label>@Model.Name<br/>
        <label>帐号</label>@Model.Account<br />
        <label>密码</label>@RSACryptionHelper.RSAEncrypt(Model.PassWord)<br />
    </div>
</body>
</html>
